$primary-verydark-magenta: hsl(300, 43%, 22%);
$primary-softpink: hsl(333, 80%, 67%);
$neutral-dark-greyishmagenta: hsl(303, 10%, 53%);
$neutral-light-greyishmagenta: hsl(300, 24%, 96%);
$neutral-white: hsl(0, 0%, 100%);